.section {
  z-index: 2;
  position: relative;
}

.wrapper {
  display: grid;
  justify-content: center;
  padding: 52px 16px 40px;
  background-color: var(--blue-light);
  margin-bottom: 64px;
}

.wrapper > div {
  display: grid;
  grid-template-columns: auto;
  row-gap: 30px;
}

.content_wrapper {
  display: grid;
  grid-template-columns: auto;
  row-gap: 17px;
}

.content {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 
    "text text"
    "author rating";
  row-gap: 16px;
  column-gap: 60px;
}

.title {
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}

.image {
  display: grid;
  justify-content: flex-start;
}

.text {
  grid-area: text;
  position: relative;
  padding-top: 34px;
  padding-left: 25px;
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  max-width: 482px;
  align-self: flex-end;
}

.text > span {
  position: absolute;
  font-size: 48px;
  line-height: 64px;
  top: 0;
  left: 0;
}

.author {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px
}

.line_wrapper {
  display: flex;
  align-items: center;
  margin-right: 11px;
}

.line {
  width: 23px;
  border: 1px solid var(--black);
}

.cicle {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: var(--black);
}

.author_wrapper {
  grid-area: author;
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.rating {
  display: flex;
  grid-area: rating;
  align-self: flex-start;
}

.star:not(:last-child) {
  margin-right: 10px;
}

.snow {
  display: none;
}

@media screen and (min-width: 960px) {
  .wrapper {
    padding: 77px 104px 93px;
    margin-bottom: 104px;
  }

  .wrapper > div {
    row-gap: 58px;
  }

  .title {
    text-align: center;
  }

  .image {
    justify-content: end;
    margin-left: 100px;
  }

  .text {
    font-size: 28px;
    line-height: 36px;
  }

  .content_wrapper {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 40px;
  }

  .snow {
    position: absolute;
    display: block;
    z-index: 0;
    left: -10px;
    top: 50px;
  }
}