.wrapper {
  display: grid;
  padding: 30px 16px 35px;
  justify-content: center;
  grid-template-columns: auto;
  row-gap: 40px;
}

.benefits {
  display: grid;
  grid-template-columns: auto;
  row-gap: 20px;
}

.title {
  font-family: var(--font-main);
  color: var(--black);
  font-weight: 500;
}

@media screen and (min-width: 960px) {
  .wrapper {
    padding: 55px 104px 47px;
  }

  .title {
    text-align: center;
  }

  .benefits {
    grid-template-columns: auto auto;
    column-gap: 20px;
  } 
}