.section {
  position: relative;
  padding: 52px 16px 35px;
  display: grid;
  grid-column: 2/3;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr auto auto 1fr;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-areas: 
    '. content content .'
    '. firstImg secondImg .'
    '. firstImg thirdImg .';
}

.content {
  grid-area: content;
  max-width: 509px;
}

.title {
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: var(--black);
  margin-bottom: 16px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--black);
  margin-bottom: 40px;
}

.first_img {
  display: flex;
  align-items: center;
  height: 100%;
  grid-area: firstImg;
}

.second_img {
  display: flex;
  grid-area: secondImg;
  align-items: flex-end;
  height: 100%;
}

.third_img {
  display: flex;
  grid-area: thirdImg;
  align-items: flex-start;
  height: 100%;
}

.snow {
  display: none;
}

@media screen and (min-width: 960px) {
  .section {
    grid-template-columns: 1fr auto auto auto 1fr;
    grid-template-areas: 
      '. content firstImg secondImg .'
      '. content firstImg thirdImg .';
  }

  .section {
    padding: 32px 104px 55px;
  }

  .title {
    font-size: 57px;
    line-height: 64px;
    max-width: 700px;
  }

  .content {
    padding-right: 77px;
  }

  .snow {
    position: absolute;
    display: block;
    z-index: -1;
    left: -10px;
    bottom: -220px;
  }
}