.wrapper {
  box-sizing: border-box;
  display: grid;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--blue);
  border-radius: 8px;
  width: 396px;
  height: 388px;
  padding: 20px 32px 27px 20px;
}

.wrapper > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  line-height: 40px;
  color: var(--black);
}

.text > span {
  font-weight: 600;
  font-size: 45px;
  line-height: 52px;
  color: var(--blue);
  margin: 16px 0px;
}